.wj-flexgrid {
  min-height: 100vh;
}

.column-picker-icon {
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
}
.drop-marker {
  position: absolute;
  background-color: red;
  border-radius: 2px;
}
